body {
    background-color: aqua;
}

textarea {
   width: 300px;
   height: 150px;
  
}

.lastname , .gender , .hobbies{
    padding: 30px 30px 30px 0px;
    font-weight: bold ;
}

.firstname, .age, .occupation, .bio {
    font-weight: bold ;  
}
input[type=text], textarea, select{
    border-radius: 8px;
    border: solid 2px blue;
}


